body {
  background-color: #c1ec87;
  margin: 0px;
}
.start-row{
  margin: auto;
  width: 800px;
  height:120px;
  font-family: 'Chilanka', cursive;;
  background-color: #0ebd82;
  padding-top: 18px;
  font-size: 60px;
  text-align: center;
  color:#010165;
  margin-bottom:21px;
  cursor:pointer;
}
.header {
  background-color:#14b644;
  text-align: center;
}
.title-row {
  margin-top: 42px;
  margin-bottom: 21px;
  
}

.balnk{
  height:25px;
}

#space{
  height:30px;
}

.inst{
  text-align: center;
}
.instructions-title{
  display:inline;
  font-size: 100px;
  color:#32b809;
  font-family: 'Chilanka', cursive;;
  text-align: center;
}

tr{
  font-size: 30px;
  font-family: 'Chilanka', cursive;
}

.instructions-row{
  margin:0 auto;
  width: 800px;
}

.instructions-number{
  padding-right: 25px;
  font-family: 'Chilanka', cursive;;
  font-size: 36px;
  color: #00ffff;
}
.instructions-text{
  padding:10px;
  font-family: 'Chilanka', cursive;;
  font-size: 14px;
  color:#ffffff;
}
.door-row{
  text-align: center;
}

.door-frame{
  cursor: pointer;
  padding: 10px;
}
